/************
CSS code Structure
	
	0. Reset
	1. Global
		1.1 Header
			- Nua tren
				- Logo
				- Slogan
			- Nua duoi
				- Nav
		1.2 Main
		1.3 Footer
	2.	Media Queries

************/

/** 0.RESET **/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers ( IE 8/9) */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** End RESET **/


/** 1. Global Setup **/

body {
	margin: 0 auto;
}

img {
	display: block;
	max-width: 100%;
}

* {
	box-sizing: border-box;
}

.clearfix {
	clear: both;
}
p {
	margin:0;
	line-height:1.5
}

/*Styles for hyperlinks*/
a {
	color: #005500;
    text-decoration: none;
}

a:link {
  /*color: #B16063;*/
}

a:visited {
  /*color: #936B69;*/
}

a:hover {
  /*color: #99cc99;*/
  color: #008000;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
.page {
	max-width: 1600px;
	min-width: 250px;
	margin: 0 auto;
}
.go-to-top {
	margin-left: 65%;
	margin-top: 15px;
}
.go-to-top h2 {
	color: #b57a01;	
}

/** End Global Setup **/



/*RESPONSIVE STYLES*/
/*mobile first*/

body {
		font-size: 0.9em;
		margin: auto 2% ;
}

/* Header */
.page-header .nua-tren {
	width: 100%;
	margin-top: 5px;
	display: flex;
	flex-wrap: wrap;
	padding: 1%;
}
.page-header .logo{
	/*float: left;*/
	/*margin-left: 2%;*/
	width: 28%;
	padding: 0 1% 10px 5%;
}
.page-header .slogan {
	/*float: right;*/
	width: 72%;
	/*margin-top: 7px;*/
	padding: 2% 1% 5px 1.5%;
	font-style: italic;
	line-height: 1.35em;
	font-size: 0.94em;
	color: green;
}
.page-header .slogan span {
	display: block;
}
.slogan span:nth-child(1){
	padding-left: 1%;
}
.slogan span:nth-child(2){
	padding-left: 17%;
}
.slogan span:nth-child(3){
	padding-left: 43%;
}
.header-hotline {
	display: none;
}
/*Navigation Styles*/

.page-header .nua-duoi {
	overflow: hidden;
	border-top: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
}
.nav {
	/*background-color: #00b300;*/
	/*border-radius: 18px;*/
}
.nua-duoi .topnav {
	position: relative;
	display: inline-block;
	width: 30%;
	height: 35px;	
	/*border-right: 1px solid #bbbbbb;*/
	box-sizing: border-box;
	text-align: center;
	/*! font-size: 0.9em; */
	vertical-align: middle;
	line-height: 35px;
}
.nav-menu, .nav-phone, .nav-search {

	
}

/** Styles for Responsive Dropdown Menu **/
.nav-menu .label{
	font-size: 1.1em;
	position: relative;
	top: 2px;
}
.nav-menu .icon {
	font-size: 2.5em;
	color: #999999;
	vertical-align: middle;
	text-align: center;
	position: relative;
	bottom: 3px;
	left: -4px;
}

/* Hide the checkbox*/
.nav input[type=checkbox] {
	display: none;
}

/* hide the menu list*/
#menu-list {
	display: none;
}
.nav-menu {
	display: block;
	color: #005500;
	width: 38%;
	box-sizing: border-box;
	text-align: center;
	vertical-align: middle;
	border-radius: 10px 10px 0 0;
}
/* Toggle show-hide menu whenever clicked*/
.nav input[type=checkbox]#menu:checked ~ #menu-list {
	display: block;
}
.nav input[type=checkbox]#menu:checked ~ .nav-menu {
	/*background-color: #e5e5e5;*/
	background-color: #00b300;
	color: #fff;
}
.nav input[type=checkbox]#menu:checked ~ .nav-menu .icon{
	color: #fff;
}
#menu-list li{
	margin-bottom: 1px;
	padding: 12px;
	border-right: 1px solid #d5d5d5;
	background-color: #00b300;
}
#menu-list li a {
	display:block;
	/*height: 35px;*/
	text-align: left;
	padding-left: 25px;
	/*line-height: 35px;*/
	color: #fff;
	text-decoration: none;
}

/*End of Navigation Styles*/

/************* 
	End of Header styles
**************/



/*************
    Main content styles
**************/

.main-container, footer {
	clear: both;
	padding: 0 2%;
}
.main-container {
	padding: 5px;
}
.main-intro {
	height: 500px;
	background-color: orange;
}
.main-container .cat-sidebar, .main-container .cat-main-content{
	float: left;
}
.main-container .cat-sidebar {
	width: 20%;
}

.main-container .cat-main-content {
	width: 80%;
}

.main-container section {
	margin-top: 15px;
	/*background-color: #e0de9d;*/
}

/*Categories styles*/

.cat-title h2{
	color: green;
    text-align: center;
    font-size: 1.2em;
    margin: 15px;
}


.items-list {
	width: 100%;
	margin-top: 15px;
}
.main-container section h2{
	margin-bottom: 0;
}
/*Slider Styles*/
.slider{
	width: 100%;
	height: 180px;
	line-height: 180px;
	background-color: #ededaa;
	text-align: center;
	border: 1px solid #ededed;
}

.slider p{
	position: relative;
	top: 43%;
}

.catblocks{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
/*section.items-list ul li {
	width: 48%;
	float: left;
}*/
.items-list .cat-title {
	width: 100%;
}
.items-list .cat-title h2{
	text-align: center;
	font-size: 1.1em;
	color: #005900;
	border-top: 1px solid #e5f2e5;
	border-bottom: 1px solid #e5f2e5;
	line-height: 30px;
	padding: 5px 0;
}
.items-list li {
	/*display: inline-block;*/
	list-style-type: none;
	/*float: left;*/
	width: 50%;
	text-align: center;
	padding: 1%;
	/*margin: 15px 0;*/
	box-sizing: border-box;
	/*! border: 1px solid #ededed; */
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.items-list .product-name {
	font-size: 0.9em;
	padding: 10px 0;
	line-height: 2em;
}
.sub-name {
	display: block;
	text-align: center;
	font-weight: normal;
	padding-top: 7px;
}
.items-list .price-box span{
	padding: 5px auto;
	font-size: 0.9em;
	background-color: white;
	padding: 5px 15px;
	color: green;
	/*border: 1px solid #dedede;*/
}
/*@media screen and (max-width:320px){ */
.items-list ul li:nth-child(odd){
	/*margin-right: 4%;*/
}
/*}*/
.items-list .list-info .price-box {
	color: #1a1a00;
	text-align: center;
}
.items-list ul li:hover {
	outline: 1px solid grey;
}
.items-list .more {
	clear: both;
	margin-top: 15px;
	/*font-size: 110%;*/
	padding: 5px;
}
.items-list p.more a{
	color: #795101;	
}
.items-list p.more a:hover{
	color: orange;	
}

/*************
    End of Main content styles
**************/
.main-container .sidebar-cat{
	clear: both;
	background-color: #bef6c7;
	/*width: 100%;*/
	/*height: 50px;*/
}
.sidebar-cat h2{
	/*display: none;*/
}



	/**
		PRODUCT DETAIL STYLES
	**/

	.product-main .product-name {
		margin: 10px 0;
		color: #005500;
		font-size: 1.1em;
		padding-left: 2%;
	}

	.product-image, .product-moreview {
		display: block;
	}
	.product-image-gallery{
		/*margin-bottom: 20px;*/
		margin: 0 auto;
	}
	.product-image-gallery img {
		width: 100%;
		/*max-width: 450px;*/
	}
	.product-image-gallery .gallery-image-visible{
		display: block;
	}

	.product-moreview h2 {
		margin: 10px 0;
		color: #446600;
	}
	/*.product-image-thumbs {
		display: flex;
		height: 30px;	
	}
*/
	.product-image-thumbs {
		display: flex;
		flex-wrap: wrap;
	}
	.product-image-thumbs li {
		width: 25%;
		max-width: 75px;
		margin-right: 3px;
	}
	/*.product-image-thumbs li img {
		width: 75px;
		height: 75px;
	}*/

	.product-info-main {
		display: block;
	}
	.product-info-main .product-name{
		display: none;
	}

	.product-info-main .p-price, .product-info-main .p-status {
		display: inline-block;
		/*float: left;*/	
		max-width: 50%;
		margin: 15px 0;
	}
	.product-info-main .p-status {
		float: left;
		padding-left: 5%;
		color: #118709;
	}
	.product-info-main .p-price {
		float: right;
		padding-right: 5%;
		font-size: 1.2em;
		color: #09544a;
	}

	.phone-order {
		width: 100%;
		color: darkgreen;
		background-color: #dcf9f2;
		margin:15px auto;
		margin-right: 135px;
		padding: 10px;

		border:1px solid #b5a45a;
		border-radius: 30px;

		font-size: 1.1em;
		font-weight: bolder;

		background-size: contain;
		background-repeat: no-repeat;
		background-position: left center;

		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-ms-flex-align: center;
		-webkit-align-items: center;
		-webkit-box-align: center;
		align-items: center;
	}
	.phone-label, .phone-numbers{
		display: inline-block;
		float: left;
		width: 50%;
		
	}
	.phone-label{
		padding-left: 2%;
	}
	.phone-numbers{
		padding-right: 2%;
		/*! padding: 10px; */
		padding-top: 10px;
	}
	.phone-order a {
		color: #ff0000;
	}
	
	.product-info-main .short-desc, .product-info-main .sharing {
		display: block;
		margin: 10px auto;
		padding: 5px;
	}
	.product-info-main .sharing {
		padding: 10px 5% 10px 40%;
	}

	/*Product tabs*/
	.product-tabs {
		margin: 10px 0;
	}
	.product-tabs input, .product-tabs section {
	  clear: both;
	  padding-top: 10px;
	  display: none;
	  margin: 0;
	}
	.product-tabs label{
		display: block;
		/*float: left;*/
		/*width: 100%;*/
		/*max-height: 10px;*/
		height: 40px;
		line-height: 40px;
		/*padding: 15px 0 25px 0;*/
		color: green;
        cursor: pointer;
        text-decoration: none;
        text-align: left;
       	padding-left: 10px;
        background: #f0f0f0;
        border-color: gray;
        border-style: solid;
        border-width: 1px 1px 0 1px;
	}
	.product-tabs > label:nth-child(8){
		border-bottom: 1px solid gray;
	}
	#tab1:checked ~ #tab1-content,
	#tab2:checked ~ #tab2-content,
	#tab3:checked ~ #tab3-content{
	  display: block;
	   padding: 10px;
	  background: #fff;
	  /*border: 0 1px solid gray;*/
	  border-left: 1px solid gray;
	  border-right: 1px solid gray;
	}
	#tab3:checked ~ #tab3-content{
		border-bottom: 1px solid gray;
	}

	.product-tabs [id^="tab"]:checked + label {
	  /*background: #fff;*/
	  /*box-shadow: inset 0 3px gray;*/
	}

	.product-tabs .tab-content{
		/*text-align: center;*/
	}
	/*End of Product tabs*/



/*************
    Footer styles
**************/
footer {
	clear: both;
	margin-top: 15px;
}
footer .cat-title {
	text-align: center;
	font-size: 1em;
	color: #005900;
	border-top: 1px solid #bdbdbd;
	border-bottom: 1px solid #ededed;
	padding: 15px 0;
	margin-bottom: 5px;
}
.footer-blocks{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 10px;
}

.footer-block-items {
	width: 100%;
	height: 38px;
	margin: 7px 0 7px 2%;
	font-size: 90%;
	padding-left: 17%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}

.footer-phone{
	background-image: url(../images/icons/phone.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
}
.footer-email{
	background-image: url(../images/icons/email-yellow.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
}
.footer-facebook{
	background-image: url(../images/icons/facebook.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
}
.footer-address{
	line-height: 1.5em;
	background-image: url(../images/icons/address.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
}


.fbi-title {
	display: none;
}
.or {
	display: none;
}
.phone-number .vina, .vtel{
	display: block;
	margin: 10px 0;
	/*padding: 2px 0;*/
}
.fb-text-link{
	display: none;
}
.footer-block-items .fb-page, .fb-text-link {
	margin: 3px 0;
}
.fb-text-link-show-inline {
	display: none;
}	

/*Copyright*/
.copy-right {
	margin-top: 10px;
	text-align: center;
	background-color: #e9e9e9;
	font-size: 80%;
	padding: 2%;

}
/*************
    End of Footer styles
**************/


/*************

RESPONSIVE WEB DESIGNS
Media Queries

**************/

															
@media screen and (min-width: 22.5em) {   /* >= 360px */
	
	/*Header*/
	.page-header .slogan {
		/*letter-spacing: 0.6px;*/
		padding: 10px 0 0 2%;
		line-height: 1.5em;
		font-size: 0.95em;
	}
	.slogan span:nth-child(2) {
		padding-left: 20%;
	}
	.slogan span:nth-child(3) {
		padding-left: 50%;
	}

	/*Footer*/

	.footer-block-items {
		padding-left: 16%;
	}

	.or{
		/*display: inline-block;*/
	}
	.phone-number .vina, .vtel{
		/*display: inline-block;*/
		/*margin: 10px 0;*/
		/*padding: 2px 0;*/
	}		

	/*main*/
	.product-name{
		font-size: 1.2em;
		margin: 10px;
	}
	.product-image-gallery{
		/*width: 90%;*/
		padding: 0 5%;
	}
	.product-image-gallery img {
		/*padding: 0 5%;*/
	}
	.product-image-gallery .gallery-image-visible{
		
	}

}
															
@media screen and (min-width: 25em) {						/* >= 400px */

	body {
		font-size: 0.93em;
	}

	/*Header*/
	.page-header .slogan {
		font-size: 1em;
		line-height: 1.5em;
	}

	/*Footer*/
	.footer-block-items {
		font-size: 93%;
		height: 40px;
	}
	.fb-text-link{
		display: block;
	}
}
															
@media screen and (min-width: 30em) { 						/* >= 480px  */

	.page-header .logo {
		padding-right: 0;
	}
	.logo img {
		max-width: 92px;
	}
	.page-header .slogan {
		font-size: 1.1em;
		/*line-height: 1.7em;*/
		padding: 16% 1% 0 0;
		padding-top: 10px;
	}

	.slogan span:nth-child(1) {
		/*margin-bottom: 2%;*/
	}
	.slogan span:nth-child(2) {
		padding-left: 15%;
	}
	.slogan span:nth-child(2), .slogan span:nth-child(3){
		display: inline-block;
	}
	.slogan span:nth-child(3){	
		padding-left: 0;
	}
	.nav-menu{
		font-size: 1.1em;
	}

	.items-list .cat-title {
		margin-bottom: 15px;
	}
	.items-list li {
		padding: 2%;

	}

	.product-image-gallery{
		padding: 0 7%;
	}

	/*Footer*/

	.footer-block-items {
		padding-left: 12%;
	}
	
	.fb-text-link{
		display: none;
	}
	.fb-text-link-show-inline {
		font-size: 0.9em;
		display: inline;
		color: #0e1520;
	}
}
															
@media screen and (min-width: 37.5em) { 					/* >= 600px */

	/* Header */

	.page-header .logo{
		/*float: left;*/
		/*margin-left: 2%;*/
		width: 25%;
		/*padding: 0 1% 10px 5%;*/
	}

	.items-list li {
		padding: 3.5%;
	}

	.items-list ul li:nth-child(odd){
		/*margin-right: 0;*/
		padding: inherit 2% inherit 3%;
	}

	.items-list ul li:nth-child(even){
		/*margin-right: 0;*/
		padding: inherit 3% inherit 2%;
	}
	.product-image-gallery{
		padding: 0 10%;
		margin: 0 auto;
	}

	/* Footer */
	.footer-blocks{
		margin-top: 20px;
	}
	.footer-block-items {
		padding-left: 10%;
	}
	.footer-phone, .footer-email {
		width: 48%;
		float: left;	
	}
}

@media screen and (min-width: 43.75em) {     				/* >= 700px */
	.items-list ul li:nth-child(odd){
		margin-right: 0;
	}
} 											  

@media screen and (min-width: 48em) {                       /* >= 768px */
              
	body {
		font-size: 0.95em;
	}

	/*Header*/
	
	.logo img {
		max-width: 124px;
	}

	.page-header .slogan {
		padding-right: 0;
		padding: 20px 0 0 10px;
		line-height: 1.6em;
		font-size: 120%;
	}

	/* End Nua tren */

	.nua-duoi .topnav {
		font-size: 1.3em;
	}

	/* Menu */
    
    .nav-menu{
		font-size: 1.3em;
	}
  	.nav-menu .icon {
		bottom: 6px;
	}

	/* End of Menu */

	/*Main Product*/

	.product-img-box .product-name{
		display: none;
	}
	.product-info-main .product-name{
		display: block;
	}

	.product-img-box, .product-info-main{
		float: left;
		width: 50%;
	}
	.product-img-box{
		/*width: 50%;*/
	}
	
	.product-info-main{
		padding: 0 15px;
	}
	.product-image-gallery{
		margin: 0 auto;
		padding: 5px;
	}

	.product-image-gallery img {
		width: 100%;
		/*max-width: 550px;*/
		/*max-height: 700px;*/
	}
	/*End of main product*/

		/*Slider*/

	section.slider {
		height: 300px;
	}

	/*Product list homepage*/

	.items-list .cat-title {
		font-size: 1.2em;
	}
	.items-list ul{
		display: flex;
		flex-wrap: wrap;
	}
	.items-list ul li{
		/*float: none;*/
		width: calc(100%/3);
		padding: 2%;
	}
	

	/* Main */

	.go-to-top {
		margin-left: 85%;
	}
	/* Footer */
	.footer-block-items {
		padding-left: 8%;
		height: 45px;
		margin: 7px 0 7px 2%;
	}

	.fbi-title{
		display: inline-block;
		color: #1189c6;
		font-weight: bold;
	}
	.footer-phone .fbi-title{
		width: 35%;
	}
	.footer-phone phone{
		width: 62%;
	}
	/*Product list homepage*/
}

@media screen and (min-width: 64em) {					    /* >= 1024 */
	
	body {
		font-size: 1em;
	}
	/* Header */

	.page-header .logo{
		width: 20%;
		/*padding-top: 0;*/
		/*padding: 2%;*/
	}

	.page-header .slogan {
		width: 45%;
		/*padding-top: 28px;*/
		padding-right: 0;
		/*padding: 28px 0 0 10px;*/
	}
	.slogan span:nth-child(2){
		padding-left: 1%;
	}
	.header-hotline {
		width: 35%;
		padding: 20px 5px 0 1%;
		display: flex;
		flex-wrap: wrap;
	}
	.header-hotline span{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
	}
	.header-hotline .phone-title{
		color:#666600;
	}
	.header-hotline .phone-number {
		line-height: 1.3em;
		padding-left: 8%;
	}	
	.header-hotline .name-hotline{
		padding-left: 5%;
		font-size: 0.9em;
		color: #009900;
	}
	.slogan span:nth-child(2){
		padding-left: 10%;
	}

	/* Menu's styles */
	.nav-menu {
		display: none;
	}
	#menu-list{
		display: block;
	}
#menu-list li{
	float: left;
	display: inline-block;
	margin-bottom: 0;
	padding: 10px;
	font-size: 0.95em;
	background-color: #fff;
}
	#menu-list li:last-child{
		border-right: none;
	}
	#menu-list li:hover{
		background-color: lime;
		color: #fff;
	}
	#menu-list li:hover >  a{
/* 		color: #fff; */
	} 
#menu-list li a {
	text-align: center;
	padding-left: 0;
	color: #005500;
}
	/* End Menu's styles */

	.mobile-nav {
		display: none;
	}
	.items-list .cat-title {
		margin-bottom: 20px;
	}
	.items-list ul li{
		float: none;
		width: 25%;
		padding: 1.5%;	
	}

	/*Product tabs*/
	.product-tabs{
		width: 100%;
		background-color: gray;
	}
	.product-tabs label{
		display: inline-block;
		float: left;
		padding: 0 30px;
	}

	/* End of Product tabs*/

	/* Footer */

	.footer-block-items {
		padding-left: 6%;
	}
	.footer-phone .fbi-title{
		width: 30%;
	}
	.footer-phone phone{
		width: 68%;
	}
	address {
		font-size: 1.1em;
	}
		/*Copyright*/
	footer .copy-right {
		/*margin-top: 10px;*/
		/*text-align: center;*/
		background: none;
		font-size: 80%;
		padding: 0.5% 0;

	}
}
															/* >= 1200px */
@media screen and (min-width: 75em) {  

	.product-image-gallery{
		width: 96%;
		margin: 0 auto;
	}


	.footer-block-items {
		padding-left: 5.5%;
	}
	.footer-phone .fbi-title{
		width: 25%;
	}
	.footer-phone phone{
		width: 73%;
	}
}



